<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<H1>ToDoListe :</H1>

{% for cle in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{cle}}
</div>
{% endfor %}
{% for cle in app.session.flashbag.get('danger') %}
    <div class="alert alert-danger">
        {{cle}}
    </div>
{% endfor %}
{% for cle in app.session.flashbag.get('error') %}
    <div class="alert alert-info">
        {{cle}}
    </div>
{% endfor %}

<ol class="list-group">
{% for cle,i in app.session.get('todo') %}
    <li class="list-group-item">

    {{ cle }} : {{ i }}
    </li>
{% endfor %}
</ol>
</body>
</html>